<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	
	<http pattern="/*.ico" security="none" />
	<http pattern="/resources/**" security="none" />
	<http pattern="/common/**" security="none" />
	<http pattern="/lib/**" security="none" />
	<http pattern="/images/**" security="none" />
	<http pattern="/flex/bin-debug/**" security="none" />
	<http pattern="/messagebroker/**" security="none" />
	<http pattern="/js/**" security="none" />
	<http pattern="/index.jsp" security="none" />
	<http pattern="/system/index" security="none" />
	<http pattern="/image/captcha" security="none" />
	<http pattern="/spring/**" security="none" />
	
	<http auto-config="true">
		<intercept-url pattern="/**" access="ROLE_ADMIN,ROLE_USER,ROLE_ANONYMOUS" />
		
		<form-login login-page="/index.jsp" default-target-url="/extApp/index.jsp" 
			authentication-failure-url="/index.jsp?errorCode=1"  always-use-default-target="true" />
		<logout logout-success-url="/extApp/index.jsp" />
	</http>
	
	<!-- 数据库配置 -->
	<beans:bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="${project.jdbc.driver}" />
		<beans:property name="url" value="${project.jdbc.url}" />
		<beans:property name="username" value="${project.jdbc.user}" />
		<beans:property name="password" value="${project.jdbc.password}" />
	</beans:bean>
	
	<authentication-manager>
		<authentication-provider>
			<!-- 使用MD5 SALT（盐值） 加密方式 -->
			<password-encoder hash="md5" >
				<salt-source user-property="username"/>
			</password-encoder>
			
			<!-- 1， 自定义用户模式 -->
			<!-- <user-service>
				<user name="admin" password="admin" authorities="ROLE_ADMIN"/>
				<user name="panlj" password="123456" authorities="ROLE_USER"/>
				<user name="client" password="client" authorities="ROLE_ANONYMOUS"/>
			</user-service> -->
		
			<!-- 2， 数据库用户模式 -->
          <jdbc-user-service data-source-ref="dataSource" 
          	users-by-username-query=
          		"select username,password,'true' as enable from SYS_USER where username = ?"
          	authorities-by-username-query=
          		"select SYS_USER.username,SYS_ROLE.authority 
          		 from SYS_AUTHORITIES,SYS_USER,SYS_ROLE 
          		 where SYS_AUTHORITIES.user_id=SYS_USER.id and SYS_AUTHORITIES.role_id=SYS_ROLE.id and SYS_USER.username=? " />
            
		</authentication-provider>
	</authentication-manager>
</beans:beans>